<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>

	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="clientId" value="ARRQr2YK-t1eam_lZZAVFHJf_7nanKK_E0JopRQWZVKKAu9pq2qdnroX39SYgM_aUL3eYURW0qk6QgXv" />
			<add name="clientSecret" value="EFaFGbonj6t4U8NZRl4jMrraO5Jjw8vTfC2yLfvhapjQFobC7g7IfTUcBLkvJWs9XqGOQ7TOxfEyuwn-" />
		</settings>
	</paypal>
</configuration>