@{
}
@using Kendo.Mvc.UI
@using MovieStreaming.Custom.Models
@using MovieStreaming.Custom.Helpers

<script src="~/kendo/js/jszip.min.js"></script>
<script>

    function sync_handler(e) {
        e.sender.read();
    }

    function showDetails(e){

        window.location.href = '@Url.Action("Details", "Complaint")' + '?ticketId=' + this.dataItem(jQuery(e.currentTarget).closest("tr")).Id;

    }
</script>
<style>
    .k-grid-header {
        background-color: #f5f6f8;
    }

    .k-toolbar .k-button {
        color: #000;
        background-color: #f5f6f8;
        border-color: #f5f6f8;
    }

    .k-pager-numbers .k-link.k-state-selected {
        color: white;
        background-color: #7f838b;
    }

    .k-pager-numbers .k-link {
        color: #7f838b;
    }

    .k-command-cell .k-grid-update {
        color: #3b76e1;
        background-color: rgba(88,143,209,.23) !important;
    }

    .k-command-cell .k-grid-cancel {
        color: #000;
        background-color: #f5f6f8;
        border-color: #f5f6f8;
    }

    .k-command-cell .k-grid-edit {
        color: #63ad6f;
        background-color: rgba(99,173,111,.1);
    }

    .k-command-cell .k-grid-delete {
        color: #f56e6e;
        background-color: rgba(245,110,110,.1);
    }

    .k-command-cell .k-grid-details {
        color: #0E6655;
        background-color: #E8F6F3;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h4>Your Tickets</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        @(
                            Html.Kendo().Grid<MovieStreaming.Areas.Admin.Models.Complaint.Complaint>()
                            .Name("gridTicket")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id).Hidden(true);
                                columns.Bound(p => p.Title).Title("Title").Width(150);
                                columns.Bound(p => p.Description).Title("Description").Width(150);
                                columns.Bound(p => p.IsActive).Title("Is Active").Width(150);
                                columns.ForeignKey(p => p.TypeId, (System.Collections.IEnumerable)ViewBag.Type, "Value", "Text").Title("Type").Width(150);
                                columns.ForeignKey(p => p.SeverityId, (System.Collections.IEnumerable)ViewBag.Severity, "Value", "Text").Title("Severity").Width(150);
                                columns.Command(command =>
                                {

                                    command.Custom("details").Text("Details").Click("showDetails").IconClass("fas fa-detail");


                                }).Width(150);

                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine))

                            .Pageable(pager => pager.Refresh(true).PageSizes(new[] { 10, 20, 30 }).Refresh(true))
                            .Sortable()
                            .Scrollable()
                            .Filterable()
                            .Resizable(resize => resize.Columns(true))
                            .HtmlAttributes(new { style = "height:700px;border-style: none;" })
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Events(e => e.Sync("sync_handler"))
                            .PageSize(20)
                            .Model(model =>
                            {
                                model.Id(p => p.Id);

                            })
                            .Read(read => read.Action("GetAllTickets", "Complaint"))


                            )
                            )
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>