@using Kendo.Mvc.UI;
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<div class="card-js" id="myCard" style="display: table;
    position: relative;
    right: -304px;
    margin-top: 73px;">
<input class="card-number my-custom-class" name="card-number" id="nr">
<input class="name" id="the-card-name-id" name="card-holders-name" placeholder="Name on card">
<input class="expiry-month" name="expiry-month" id="expm">
<input class="expiry-year" name="expiry-year" id="expy">
<input class="cvc" name="cvc">
</div>
@(Html.Kendo().Button()
              .Name("submitPayment")
              .HtmlAttributes(new { style = "background-color:royalblue; color:white; right: -700px; margin-top: 20px;", onclick="finalisePayment()"})
              .Content("Complete Purchase")
)
<script>
    function finalisePayment(){
        var nr = $("#nr").val();
        var cardname = $("#the-card-name-id").val();
        var expm = $("#expm").val();
        var expy = $("#expy").val();
        var cvc = $("#cvc").val();

        if (nr == "" || cardname == "" || expm == "" || expy == "" || cvc == "") {
            Swal.fire('Please fill out all the details!')
            return false;
       }
        $.ajax({
            type: "POST",
            url: "@Url.Action("Subscribe","Dashboard")",
            success: function(){
                var inFiveMinutes = 1 / 288;
                Cookies.set('subbed', true, { expires: inFiveMinutes });
                
                Swal.fire({
                        title: 'You have been subscribed, thank you!',
                        showConfirmButton: true,
                        showDenyButton: false,
                        showCancelButton: false,
                        confirmButtonText: 'Ok',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '@Url.Action("Index","Dashboard")';
                        }
                    })
            }
        })
    }
</script>